

<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <br><br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input id="title" name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Please provide a title</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter a brief description" required></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input id="image" name="listing[image]" placeholder="Enter image URL/Link" type="url" class="form-control">
        <div class="valid-feedback">Image URL looks good</div>
      </div>

      <!-- Price and Country -->
      <div class="row">
        <!-- Price -->
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input id="price" name="listing[price]" placeholder="1200" type="number" class="form-control" required>
          <div class="valid-feedback">Price is valid</div>
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>
        <!-- Country -->
        <div class="mb-3 col-8">
          <label for="country" class="form-label">Country</label>
          <input id="country" name="listing[country]" placeholder="India" type="text" class="form-control" required>
          <div class="valid-feedback">Country looks good</div>
          <div class="invalid-feedback">Please enter the country name</div>
        </div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input id="location" name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
        <div class="valid-feedback">Location is valid</div>
        <div class="invalid-feedback">Please enter the location</div>
      </div>

      <!-- Submit Button -->
      <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
  </div>
</div>


